<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
</head>

<body>
	<div id="header" th:fragment="header">
		<a class="headerLogo" th:href="@{/findTutor}" href="login.html">ESE
			Tutorfinder</a>
		<nav>
			<ul>
				<li><a th:href="@{/appointments}"
					href="appointmentsOverview.html">Appointments</a></li>
				<li><a href="#">Profile</a>
					<ul>
						<li><a th:href="@{/editProfile}" href="updateProfile.html">Edit
								Profile</a></li>
						<li th:if="${authUser != null}"><a
							th:href="@{'/showProfile'(userId=${authUser.id})}"
							href="showProfile.html">Show Profile</a></li>
					</ul></li>
				<li><a th:href="@{/findTutor}" href="/findTutor.html">Search</a></li>
				<li><a class="logout" th:href="@{/logout}" href="login.html">Logout</a></li>
			</ul>
		</nav>
	</div>

	<div id="header" th:fragment="nouser">
		<a class="headerLogo" th:href="@{/findTutor}" href="login.html">ESE
			Tutorfinder</a>
	</div>

</body>
</html>