<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Profile</title>
<link rel="stylesheet" href="/css/style.css" />
</head>

<body>

	<!-- 
		Profile picture 
	-->
	<img th:src="${Profile.imgPath}"
		onerror="this.onerror=null; this.src='../img/default-avatar.jpg;'"
		alt="Profile picture" width="192" height="192"
		src="../../img/default-avatar.jpg" />

	<!-- 
		Profile name 
	-->
	<h1 th:text="|${User.firstName} ${User.lastName}|">Vorname
		Nachname</h1>

	<!-- 
    	Biography 
    -->
	<h3>Short biography</h3>
	<p style="width: 700px" th:text="${Profile.biography}">Lorem ipsum
		dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
		tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
		voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
		Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
		dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
		elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
		magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
		justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
		takimata sanctus est Lorem ipsum dolor sit amet.</p>

	<!-- The following information are only shown if it is the profile from an tutor -->
	<div sec:authorize="hasRole('ROLE_TUTOR')">
		<!-- 
			Region 
		-->
		<p>
			<b>Region:</b> <span th:text="${Profile.region}"> Bern</span>
		</p>

		<!-- 
			Wage 
		-->
		<p>
			<b>Wage:</b> <span th:text="${Profile.wage}"> 25.00</span> CHF/h
		</p>
	</div>

	<!-- 
    	Edit Button
    -->
	<button type="button" onClick="window.location.href='/editProfile'">Edit
		Profile</button>

	<!--  
		Logout Button
	 -->
	<div id="logoutButton">
		<button type="button" onClick="window.location.href='/logout'">Logout</button>
	</div>


</body>

</html>