<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

<title>Appointments</title>

<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />

</head>
<body>
	<header 
	th:include="fragments/header:: ${#authorization.expression('hasRole(''ROLE_TUTOR'')')}? tutorheader : studentheader">
	</header>
	<div id="wrapper">
		<div id="sidebar"></div>
		<div id="content" class="full">
			<h1>Appointments</h1>
			<h2>Confirmed</h2>
			<div class="appointmentRow">
				<div class="appointmentCell" th:if="${!arranged.isEmpty()}">
					<div class="appointmentContent" th:each="appointment:${arranged}"
						th:if="${appointment != null}">
						<span
							th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
				${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
				${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)}, Student:|">
							2015-11-16 17:00:00 Monday, Student:</span> <a
							th:href="@{'/showProfile'(userId=${appointment.student.id})}">
							<span
							th:text="|${appointment.student.firstName} ${appointment.student.lastName}|">Max
								Muster</span>
						</a>
					</div>
				</div>
				<div class="appointmentCell" th:if="${!confirmed.isEmpty()}">
					<div class="appointmentContent" th:each="appointment:${confirmed}"
						th:if="${appointment != null}">
						<span
							th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
				${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
				${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)}, Tutor:|">
							2015-11-16 17:00:00 Monday, Tutor: <br />
						</span> <a th:href="@{'/showProfile'(userId=${appointment.tutor.id},
								date=${appointment.timestamp.toLocalDateTime().toLocalDate().format(T(java.time.format.DateTimeFormatter).ISO_LOCAL_DATE)})}">
							<span
							th:text="|${appointment.tutor.firstName} ${appointment.tutor.lastName}|">Max
								Muster</span>
						</a>
					</div>
				</div>
			</div>

			<h2>Pending</h2>
			<div class="appointmentRow">
				<div class="appointmentCell"
					sec:authorize="hasAnyRole('ROLE_TUTOR')"
					th:if="${!reserved.isEmpty()}">
					<form id="appointmentDecision" action="#" method="post"
						th:action="@{/editAppointments}">
						<div class="appointmentContent" th:each="appointment:${reserved}"
							th:if="${appointment != null}">
							<span
								th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
					${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
					${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)}, Student:|">
								2015-11-16 17:00:00 Monday, Student: <br />
							</span> <a th:href="@{'/showProfile'(userId=${appointment.student.id})}">
								<span
								th:text="|${appointment.student.firstName} ${appointment.student.lastName}|">Max
									Muster</span>
							</a> &nbsp;
							<button id="decline" type="submit" name="decline"
								th:value="${appointment.id}">Decline</button>
							<button id="confirm" type="submit" name="confirm"
								th:value="${appointment.id}">Confirm</button>
						</div>
					</form>
				</div>

				<div class="appointmentCell" th:if="${!pending.isEmpty()}">
					<div class="appointmentContent" th:each="appointment:${pending}"
						th:if="${appointment != null}">
						<span
							th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
				${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
				${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)}, Tutor:|">
							2015-11-16 17:00:00 Monday, Tutor: </span> <a
							th:href="@{'/showProfile'(userId=${appointment.tutor.id},
								date=${appointment.timestamp.toLocalDateTime().toLocalDate().format(T(java.time.format.DateTimeFormatter).ISO_LOCAL_DATE)})}">
							<span
							th:text="|${appointment.tutor.firstName} ${appointment.tutor.lastName}|">Max
								Muster</span>
						</a>
					</div>
				</div>
			</div>

			<h2>Past</h2>
			<div class="appointmentRow last">
				<div class="appointmentCell" th:if="${!visited.isEmpty()}">
					<div class="appointmentContent" th:each="appointment:${visited}"
						th:if="${appointment != null}">
						<form id="rateAppointment" action="#" th:object="${rateTutorForm}"
							method="post" th:action="@{/rateAppointment}"
							th:name="rateTutorForm">
							<span
								th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
					${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
					${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)}, Tutor:|">
								2015-11-16 17:00:00 Monday, Tutor: </span> <a
								th:href="@{'/showProfile'(userId=${appointment.tutor.id})}">
								<span
								th:text="|${appointment.tutor.firstName} ${appointment.tutor.lastName}|">Max
									Muster</span>
							</a> &nbsp; <span class="control-group"
								th:if="${appointment.rating == null}"> <input
								type="number" th:name="rating" th:value="*{rating}" th:min="${T(ch.unibe.ese.Tutorfinder.util.ConstantVariables).MIN_RATING}"
								th:max="${T(ch.unibe.ese.Tutorfinder.util.ConstantVariables).MAX_RATING}" step="0.5" 
								th:placeholder="${T(ch.unibe.ese.Tutorfinder.util.ConstantVariables).MIN_RATING}" required="required" />
								<button type="submit" name="rate" th:value="${appointment.id}">rate</button>
							</span> <span th:if="${appointment.rating != null}"
								th:text="|Rating: ${appointment.rating}|">Rating: 4.5</span>
						</form>
					</div>
				</div>
				<div class="appointmentCell" th:if="${!past.isEmpty()}">
					<div class="appointmentContent" th:each="appointment:${past}"
						th:if="${appointment != null}">
						<span
							th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}.${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
					${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
					${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)}, Student:|">
							2015-11-16 17:00:00 Monday, Student: </span> <a
							th:href="@{'/showProfile'(userId=${appointment.student.id})}">
							<span
							th:text="|${appointment.student.firstName} ${appointment.student.lastName}|">Max
								Muster</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>