<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

<title>Appointments</title>

<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />

</head>
<body>
	<div th:include="header::header"></div>
	<div id="content">
		<h1>Appointments</h1>
		<h2>Confirmed Appointments</h2>
		<span th:each="appointment:${Arranged}" th:if="${appointment != null}">
			<small
			th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}-${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}-${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
				${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
				${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)},|">
				2015-11-16 17:00:00 Monday <br />
		</small> <a th:href="@{'/showProfile'(userId=${appointment.student.id})}">
				<span
				th:text="|${appointment.student.firstName} ${appointment.student.lastName}|">Max
					Muster</span>
		</a><br />
		</span>

		<h2>Pending Appointments</h2>
		<form id="appointmentDecision" action="#" method="post"
			th:action="@{/editAppointments}">
			<span th:each="appointment:${Reserved}"
				th:if="${appointment != null}"> <small
				th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}-${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}-${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
				${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
				${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)},|">
					2015-11-16 17:00:00 Monday <br />
			</small> <a th:href="@{'/showProfile'(userId=${appointment.student.id})}">
					<span
					th:text="|${appointment.student.firstName} ${appointment.student.lastName}|">Max
						Muster</span>
			</a> &nbsp;
				<button id="decline" type="submit" name="decline"
					th:value="${appointment.id}">Decline</button> &nbsp;
				<button id="confirm" type="submit" name="confirm"
					th:value="${appointment.id}">Confirm</button> <br />
			</span>
		</form>

		<h2>Past Appointments</h2>
		<span th:each="appointment:${Past}" th:if="${appointment != null}">
			<small
			th:text="|${appointment.timestamp.toLocalDateTime().toLocalDate().getDayOfMonth()}-${appointment.timestamp.toLocalDateTime().toLocalDate().getMonthValue()}-${appointment.timestamp.toLocalDateTime().toLocalDate().getYear()} ${appointment.day},
				${appointment.timestamp.toLocalDateTime().toLocalTime()} - 
				${appointment.timestamp.toLocalDateTime().toLocalTime().plusHours(1)},|">
				2015-11-16 17:00:00 Monday <br />
		</small> <a th:href="@{'/showProfile'(userId=${appointment.student.id})}">
				<span
				th:text="|${appointment.student.firstName} ${appointment.student.lastName}|">Max
					Muster</span>
		</a><br />
		</span>
	</div>
</body>
</html>