<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Find Tutor</title>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />
</head>

<body>
	<header 
	th:include="fragments/header:: ${#authorization.expression('hasRole(''ROLE_TUTOR'')')}? tutorheader : studentheader">
	</header>
		<div id="wrapper">
		<div id="sidebar"></div>
		<div id="content">
		<div class="full">
		
	<h1>Bill for this month:</h1>
	<p th:text="|${balance} Fr.|">0 Fr.</p>
	<br />
	<div th:unless="${UnpaidBills.isEmpty()}">
		<h1>Unpaid bills:</h1>
	</div>
	<div th:each="bill : ${UnpaidBills}" th:if="${bill != null}"> 
		<span th:text="|${bill.year} ${bill.month}|"></span> <span class="small"  th:text="|(${bill.total} Fr. x ${bill.percentage})|"></span> 
		<span th:text="|${bill.amount} Fr.|">
							1970 January 0</span> 
		<a th:href="@{'/bill'(payId=${bill.id})}"> Pay</a>

		</div>
	<br />	
	<div th:unless="${PaidBills.isEmpty()}">
		<h1>Paid bills:</h1>
	</div>
	<div th:each="bill : ${PaidBills}" th:if="${bill != null}"> 
		<span th:text="|${bill.year} ${bill.month}|"></span> <span class="small"  th:text="|(${bill.total} Fr. x ${bill.percentage})|"></span> 
		<span th:text="|${bill.amount} Fr.|">
							1970 January 0</span> 

		</div>
		</div>
	</div>
	<div id="sidebar"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>