<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bill</title>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />
</head>

<body>

	<h1>Bill for this month:</h1>
	<h1 th:text="|${balance} Fr.|">0 Fr.</h1>
	
	<div th:if="${Bills != null}">
		<h1>Past Bills:</h1>
	</div>
	<div th:each="bill : ${Bills}" th:if="${bill != null}"> 
		<span th:text="|${bill.year} ${bill.month} ${bill.amount} Fr.|">
							1970 January 0</span>

	</div>

</body>
</html>