<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Find Tutor</title>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />
</head>

<body>
	<header th:include="fragments/header::header"></header>
	<div id="wrapper">
		<div id="sidebar"></div>
		<div id="content">

			<div id="search" class="full">
				<form id="search"
					th:autocomplete="off" th:name="findTutorForm">
					<fieldset>
						<div>
							<input type="search" th:name="q" th:attr="value=${param.q != null? param.q[0] : ''}" tabindex="2"
								maxlength="45" required="required" autofocus="autofocus"/>
							<button>Search</button>
						</div>
					</fieldset>
				</form>
				<form th:action="${formaction}" th:object="${findTutorFilterForm}" name="findTutorFilterForm" method="post" action="">
					<select th:field="*{criteria}" name="criteria">
					<option th:each="criteria : ${T(ch.unibe.ese.Tutorfinder.util.SortCriteria).values()}" th:value="${criteria}"
					th:text="${criteria}" th:selected="${criteria}"></option>
					</select>
					<select th:field="*{order}" name="order">
					<option th:each="order : ${T(javax.swing.SortOrder).values()}" th:value="${order}"
					th:text="${order}" th:selected="${order}" th:unless="${order == T(javax.swing.SortOrder).UNSORTED}"></option>
					</select>
					<button>Set</button>
				</form>
				<div
					th:replace="fragments/results:: (${param.q != null}? results : welcome)">
				</div>
			</div>
		</div>
		<div id="sidebar"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>