<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Find Tutor</title>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />
</head>

<body>
	<header th:include="fragments/header::header"></header>
	<div id="wrapper">
		<div id="sidebar"></div>
		<div id="content">

			<div id="search" class="full">
				<form th:autocomplete="off">
					<input type="search" th:name="q"
						th:attr="value=${param.q != null? param.q[0] : ''}" tabindex="2"
						maxlength="45" required="required" />
					<button>Search</button>
				</form>
				<form>
					<fieldset>
					<select></select>
					</fieldset>
				</form>
				<div
					th:replace="fragments/results:: (${param.q != null}? results : welcome)">
				</div>
			</div>
		</div>
		<div id="sidebar"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>