<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>
</head>
    
<body>
    <div th:fragment="header" id="header">
    <!-- Here, a logo could be placed -->
        <a sec:authorize="hasAnyRole('ROLE_TUTOR', 'ROLE_STUDENT')" th:href="@{/findTutor}" href="login.html"><span id = "headerLogo">ESE Tutorfinder</span></a>
        <a sec:authorize="!hasAnyRole('ROLE_TUTOR', 'ROLE_STUDENT')" th:href="@{/home}" href="login.html"><span id = "headerLogo">ESE Tutorfinder</span></a>
    
    
        <div id="menu" sec:authorize="hasAnyRole('ROLE_TUTOR', 'ROLE_STUDENT')">
    
    		<!-- 
    			Edit Profile Button
    		-->
    		<a id="editButton" th:href="@{/editProfile}" href="updateProfile.html"><span>Edit Profile</span></a>
    
    		<!-- 
	    		Show Profile Button
			-->
            <a id="showButton" th:href="@{'/showProfile'(userId=${authUser.id})}" href="showProfile.html"><span>Show Profile</span></a>

	
			 <!--
				Search Button
			 -->
            <a id="searchButton" th:href="@{/findTutor}" href="/findTutor.html"><span>Search</span></a>
			
			<!--  
				Logout Button
			 -->
            <a class="logout" id="logoutButton" th:href="@{/logout}" href="login.html"><span>Logout</span></a>
			
	   </div>	
    </div>
    
</body>
</html>