<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
	
	<title>Tutorfinder</title>
	
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>

</head>
<body>
	<div th:include="header::header"></div>

	
	<div class="content">
        
        

	<button type="button" onClick="window.location.href='/login'">Login</button>
	<button type="button" onClick="window.location.href='/register'">Register</button>

        </div>	
</body>
</html>