<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />
</head>

<body>
	<header th:include="fragments/header:: (${#authorization.expression('isAuthenticated()')}? header : nouser)"></header>
	<div id="wrapper">
		<div id="sidebar"></div>
		<div id="content">
			<div id="title-image">
				<img src="http://placehold.it/800x200" />
			</div>

			<div id="content-wrapper">
				<div id="infoBox">
					Welcome to the Tutorfinder-website of Team 6. Here it is possible
					to find a tutor for a subject you want to improve or to offer your
					help, if you are already experienced in a subject.<br />
				</div>


				<div id="loginBox">

					<form th:name='loginForm' th:action="${loginUrl}" method="post">
						<fieldset>
					<div th:text="${msg}">You have been logged out</div>
						<div class="error" th:if="${error != null}" th:text="${error}">Invalid
							username and/or password</div>
							<p>
								<input type='email' id="email" name='email' placeholder="E-Mail address"
									autofocus="autofocus" />
							</p>
							<p>
								<input type='password' id="password" name='password'
									placeholder="Password" />
							</p>

							<p>
								<input id="loginButton" name="submit" type="submit"
									value="Login" />

								<button id="registerButton" type="button"
									onClick="showRegisterBox()">Register</button>
							</p>

							<input type="hidden" name="${_csrf.parameterName}"
								value="${_csrf.token}" />
						</fieldset>
					</form>

				</div>

				<div id="registerBox">
					<form action="#" th:object="${signupForm}" th:action="@{/create}"
						th:autocomplete="off" method="post" th:name="signupForm">
						<fieldset>

							<p>
								<input type="email" th:value="*{email}" th:name="email"
									tabindex="1" maxlength="45" required="required"
									placeholder="E-Mail" /> <span class="error"
									th:if="${#fields.hasErrors('email')}" th:errors=" *{email}">Invalid
									email address</span>
							</p>

							<p>
								<input type="text" th:value="*{firstName}" th:name="firstName"
									tabindex="2" maxlength="35" required="required"
									placeholder="First Name" />
							</p>

							<p>
								<input type="text" th:value="*{lastName}" th:name="lastName"
									tabindex="3" maxlength="35" required="required"
									placeholder="Last Name" />
							</p>

							<p>
								<input type="password" th:value="*{password}" th:name="password"
									tabindex="3" maxlength="25" required="required" min="8"
									placeholder="Password" /> <span class="error"
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}">The length must be between 8 and
									25</span>
							</p>

							<p>
								<input type="password" th:name="confirmPassword" tabindex="4"
									maxlength="25" required="required" min="8" placeholder="Confirm Password" /> <span
									class="error" th:if="${#fields.hasErrors('confirmPassword')}"
									th:errors="*{confirmPassword}"> Invalid Input </span> <span
									class="error" th:if="${#fields.hasErrors('global')}"
									th:errors="*{global}"> Passwords do not match</span>
							</p>

							<p>
								<label>Register as: </label> <select th:value="*{tutor}"
									th:name="tutor">
									<option th:value="false">Student</option>
									<option th:value="true">Tutor</option>
								</select>
							</p>
							<p>
								<button type="submit" id="registerButton"
									class="btn btn-primary">Sign up</button>
								<button id="cancelButton" type="button" onClick="showLoginBox()">Cancel</button>
							</p>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<div id="sidebar"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>

	<script>
		function showRegisterBox() {
			document.getElementById('registerBox').style.display = 'table-cell';
			document.getElementById('loginBox').style.display = 'none'
		}

		function showLoginBox() {
			document.getElementById('registerBox').style.display = 'none';
			document.getElementById('loginBox').style.display = 'table-cell'
		}
	</script>
	<script th:if="${switch == true}" type="text/javascript">
		showRegisterBox()
	</script>

</body>
</html>