<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>
</head>

<body onload='document.loginForm.email.focus();'>

	<div id="logo">
		<h1>ESE Tutorfinder</h1>
	</div>
    <div id="info-box">
        Welcome to the Tutorfinder-website of Team 6.
        Here it is possible to find a tutor for a subject you 
        want to improve or to offer your help, if you are already experienced
        in a subject.
        
    </div>
    
    
	<div id="login-box">
		<div th:text="${error}">Invalid username and/or password</div>
		<div th:text="${msg}">You have been logged out</div>

		<form th:name='loginForm' th:action="${loginUrl}" method="post">
			<input type='text' id="email" name='email' placeholder = "E-Mail"/><br /> 
			<input type='password' id="password" name='password' placeholder = "*******"/><br />
			<input id = "loginButton" name="submit" type="submit" value="Login" />
			<button id = "registerButton" type="button" onClick="document.getElementById('registerPopUp').style.visibility='visible';document.getElementById('cancelButton').style.visibility='visible'">Register</button>

			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
		</form>

	</div>
    
    
    
    <object id="registerPopUp" type="text/html" data="register.html">
    </object>
    <div>
        <button id = "cancelButton" type="button"   onClick="document.getElementById('registerPopUp').style.visibility='hidden';document.getElementById('cancelButton').style.visibility='hidden'">Cancel</button>
    </div>


</body>
</html>