<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Tutorfinder register</title>
<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>
</head>
<body>
	<div id = "registerBox">
	<form action="#" th:object="${signupForm}" th:action="@{/create}"
		th:autocomplete="off" method="post" th:name="signupForm">
		<fieldset>			

			<div class="controls">
				<input type="text" th:value="*{email}" th:name="email" tabindex="1"
					maxlength="45" required="required" placeholder = "E-Mail"/>
				<span th:if="${#fields.hasErrors('email')}" th:errors=" *{email}">Invalid email address</span>
			</div>
			
			<!-- 
				First name field
			 -->
			<div class="controls">
				<input type="text" th:value="*{firstName}" th:name="firstName"
					tabindex="2" maxlength="35" required="required" placeholder = "First Name"/>
			</div>

			<!-- 
				Last name field
			 -->
			<div class="controls">
				<input type="text" th:value="*{lastName}" th:name="lastName"
					tabindex="3" maxlength="35" required="required" placeholder = "Last Name"/>
			</div>

			<!-- 
				Password field
			 -->
			<div class="controls">
				<input type="password" th:value="*{password}" th:name="password"
					tabindex="3" maxlength="35" required="required" placeholder = "Password"/>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">The length must be between 8 and 25</span>
			</div>
			
			<!-- 
				Confirm password field
			 -->
			<div class="control-group">
				
				<div class="controls">
					<input type="password" th:name="confirmPassword"
						tabindex="4" maxlength="25" placeholder = "Confirm Password"/>
					<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
						Invalid Input
					</span>
					<span th:if="${#fields.hasErrors('global')}" th:errors="*{global}"> Passwords do not match</span>
				</div>
			</div>

			<!-- 
				Select Tutor or student bar
			 -->
			<div class="controls">

				<select th:value="*{tutor}" th:name="tutor">
					<option th:value="false">Student</option>
					<option th:value="true">Tutor</option>
				</select>
			</div>
            <br/><br/>
			<div class="form-actions">
				<button type="submit" id = "registerButton" class="btn btn-primary">Sign up</button>
                
                
			</div>
		</fieldset>
	</form>
</body>
</html>