<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Search results</title>

<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>

</head>
<body>
	<h1>
		Showing Tutors for <span th:text="${Query}">Subject</span>
	</h1>
	<div th:each="subject : ${Result}">
		<p>
			<span th:if="${subject != null}"
				th:text="${subject.grade}">6.0</span> <span
				th:if="${subject != null}"
				th:text="|${subject.user.firstName} ${subject.user.lastName}|">Max
				Muster
				</span>
				<a th:if="${subject != null}" th:href="@{'/showProfile'(userId=${subject.user.id})}">Profile</a>
		</p>
		
	</div>
	
	<!-- 
    	Edit Button
    -->
    <div id="editButton">
		<button type="button" onClick="window.location.href='/editProfile'">Edit Profile</button>
	</div>

	<!--  
		Search Button
	 -->
	<div id="searchButton">
		<button type="button" onClick="window.location.href='/findTutor'">Search</button>
	</div>

	<!--  
		Home Button
	 -->
	<div id="homeButton">
		<button type="button" onClick="window.location.href='/home'">Home</button>
	</div>

	<!--  
		Logout Button
	 -->
	<div id="logoutButton">
		<button type="button" onClick="window.location.href='/logout'">Logout</button>
	</div>
</body>
</html>