<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" class="no-js">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Profile</title>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />
<script th:src="@{/js/modernizr-custom.js}"></script>
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/pikaday.js}"></script>

<script type="text/javascript">
	window.onload = function() {
		var area = document.getElementById("bioArea");
		auto_grow(area);
		
		if (!Modernizr.inputtypes.date) {
			document.getElementById('datebutton').style.display = 'none';
			var picker = new Pikaday({
				field : document.getElementById('date'),
				firstDay : 1,
				format : 'YYYY-MM-DD',
				minDate : moment().toDate(),
				onSelect : function() {
					document.getElementById('datebutton').click();
				}
			});
		}
	};
	
	function auto_grow(element) {
	    element.style.height = "5px";
	    element.style.height = (element.scrollHeight)+"px";
	};
</script>

</head>

<body lang="en">

	<header 
	th:include="fragments/header:: ${#authorization.expression('hasRole(''ROLE_TUTOR'')')}? tutorheader : studentheader">
	</header>
	<div id="wrapper">
		<div id="sidebar"></div>
		<div id="content">

			<div id="userAvatarBox" class="leftSide">
				<img th:src="@{|/img/profPic/${DisplayedUser.id}.png|}"
					onerror="this.onerror=null; this.src='/img/default-avatar.jpg;'"
					alt="Profile picture" width="192" height="192"
					src="../../img/default-avatar.jpg" />

				<h1 th:text="|${DisplayedUser.firstName} ${DisplayedUser.lastName}|">Vorname Nachname</h1>

				<div class="rating" th:title="|Average rating of ${Profile.rating} based on ${Profile.countedRatings} ratings|"
					th:if="${Profile.rating != null}"
					th:text="|Rating: ${Profile.rating} (${Profile.countedRatings})|">Rating: 4.5</div>

				<a th:if="${authUser.id!=DisplayedUser.id}"
					th:unless="${param.userId == null}"
					th:with="userId=${param.userId[0]}"
					th:title="|Write a message to ${DisplayedUser.firstName} ${DisplayedUser.lastName}|"
					th:href="@{/newMessage(receiver=__${userId}__)}" href="/newMessage"><img
					id="newMessage" class="action-icon"
					th:src="@{|/img/bg/newMessage.png|}" src="unread.png" /></a>

				<div id="Bio" class="breakable" th:if="${Profile.biography} != null">
					<h3>Short biography</h3>
					<textarea id="bioArea" readonly="readonly" rows="25" th:text="${Profile.biography}">
						Lorem ipsum dolor sit amet,
						consetetur sadipscing elitr, sed diam nonumy eirmod tempor
						invidunt ut labore et dolore magna aliquyam erat, sed diam
						voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
						Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
						dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
						elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
						magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
						justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
						takimata sanctus est Lorem ipsum dolor sit amet.</textarea>
				</div>
			</div>
			<div class="rightSide">
			<div id="userInfoBox" >
				<div th:if="${Profile.language} != null">
					<b>Languages:</b> <span th:text="${Profile.language}"> DE,
						EN</span>
				</div>
				<div th:if="${Profile.university} != null">
					<b>Attended University:</b> <span th:text="${Profile.university}">
						Uni Bern</span>
				</div>
				<div th:if="${Profile.region} != null">
					<b>Teaching region:</b> <span th:text="${Profile.region}">
						Bern</span>
				</div>

				<div th:if="${Profile.wage} != 0.00">
					<b>Wage:</b> <span th:text="${Profile.wage}"> 25.00</span> CHF/h
				</div>
				<div id="subjects" th:unless="${Subjects.isEmpty()}">
				<b>Teaching:</b>
				<ul>
					<li th:each="subject:${Subjects}" th:if="${subject != null}">
						<span th:text="|${subject.name} (Grade ${subject.grade})|">
							SubjectOne (Grade 5.0)<br /> SubjectTwo (Grade 5.5)<br />
						</span>
					</li>
				</ul>
				</div>

				<div
					th:if="${__${authUser.id!=DisplayedUser.id}__ and __${DisplayedUser.role == 'TUTOR'}__}">
					<form action="#" method="post"
						th:action="@{|/updateForm?userId=${DisplayedUser.id}|}"
						th:object="${makeAppointmentsForm}" name="makeAppointmentsForm">

						<fieldset>
							<legend class="strong">Make an Appointment:</legend>
							<input type="date" id="date"
								th:min="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
								th:field="*{date}" name="date" required="required" />
							<button type="submit" id="datebutton" name="getDate">Show Availability</button>
							<!--<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Enter a valid date (yyyy-MM-dd format)</span>-->
							<div id="timeslots">
								<span class="error" th:if="${error_message != null}"
									th:text="${error_message}">Enter a valid date (yyyy-MM-dd)</span>
								<p th:if="*{appointments != null} and *{appointments.isEmpty()} and ${param.date != null}">There are no slots for this day</p>
								<div th:each="appointment:*{appointments}">
									<label id="timeslot"
										th:attr="title=${appointment.availability == T(ch.unibe.ese.Tutorfinder.util.Availability).AVAILABLE ? 'Click to send a request':''}">
										<span th:class="${appointment.availability}"
										th:text="|${appointment.timeslot}:00 - ${(appointment.timeslot + 1)%24}:00|">18:00
											- 19:00 </span> <input type="submit" name="request"
										th:if="${appointment.availability == T(ch.unibe.ese.Tutorfinder.util.Availability).AVAILABLE}"
										th:value="${appointment.timeslot}" />
									</label>
								</div>
								<div id="legend">
								<b>Slot Legend</b>
								<pre title="Click on the slot to make an appointment"><span class="AVAILABLE">    </span> Available</pre>
								<pre title="The tutor has yet to confirm this appointment"><span class="RESERVED">    </span> Reserved</pre>
								<pre title="The tutor has confirmed this appointment and the slot is definitely taken"><span class="ARRANGED">    </span> Arranged</pre>
								</div>
							</div>
						</fieldset>
					</form>
				</div>

			</div>
			</div>
		</div>
		<div id="sidebar"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>