<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Profile</title>
<link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>
</head>

<body>

    <div th:include="header::header"></div>
    
    <div class="content">
	<!-- 
		Profile picture 
	-->
	<img th:src="@{|/img/profPic/${DisplayedUser.id}.png|}"
		onerror="this.onerror=null; this.src='/img/default-avatar.jpg;'"
		alt="Profile picture" width="192" height="192"
		src="../../img/default-avatar.jpg" />
	

	<!-- 
		Profile name 
	-->
	
	<h1 th:text="|${DisplayedUser.firstName} ${DisplayedUser.lastName}|">Vorname
		Nachname</h1>

        <button id="editButton" type="button" onClick="window.location.href='/editProfile'" th:if = "${User.id==DisplayedUser.id}">Edit Profile</button>
    </div>
	

</body>

</html>