<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
	
	<title>Login successful</title>
	
	<script type="text/javascript">
		//redirect to showprofile
		window.setTimeout(function() {
		    window.location.href = '/home';
		},5000);
	</script>
	
	<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>

</head>
<body>
	<div sec:authorize="hasAnyRole('ROLE_TUTOR', 'ROLE_STUDENT')">
		<!--  For login user -->
		<span th:if="${#authentication.name != null}">
			<h1 th:text="|Welcome, ${#authentication.name}|">Welcome, max@muster.ch</h1>
			<button type="button" onClick="window.location.href='/logout'">Logout</button>
		</span>
	</div>

</body>
</html>