<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Update profile</title>

<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../css/style.css" />

</head>
<body>

    <div th:include="header::header"></div>
    
    <div class="content">
	<!-- 
		ProfilePicture form
		Shows the actual picture and allows the user to upload an new picture
	-->
	<form id="userAvatarBox" action="#" method="POST" th:action="@{/uploadImage}"
		enctype="multipart/form-data">
		<img th:src="@{|/img/profPic/${authUser.id}.png|}"
			onerror="this.onerror=null; this.src='../img/default-avatar.jpg;'"
			alt="Profile picture" width="192" height="192"
			src="../../img/default-avatar.jpg" /><br /> Upload new profile
		picture: <br /> <input type="file" name="file" accept="image/*" /> <br />
		<input type="submit" value="Upload" />
	</form>
	<br />

	<form id="userInfoBox" action="#" th:object="${updateProfileForm}"
		th:action="@{/update}" th:name="updateProfileForm"
		th:autocomplete="off" method="post">
		<fieldset>
			<!--
	        	First name field
	        	Placeholder loads the saved value on the server connected to the user's profile.
        	-->
			<div class="control-group">
				<label class="control-label" for="firstName">First name</label>
				<div class="controls">
					<input type="text" th:name="firstName" tabindex="1" maxlength="255"
						th:value="*{firstName}" /> <span
						th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
					</span>
				</div>
			</div>

			<!--
	        	Last name field
	        	Placeholder loads the saved value on the server connected to the user's profile.
        	-->
			<div class="control-group">
				<label class="control-label" for="lastName">Last name</label>
				<div class="controls">
					<input type="text" th:name="lastName" tabindex="2" maxlength="255"
						th:value="*{lastName}" /> <span
						th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
					</span>
				</div>
			</div>

			<!-- 
				Password field
			 -->
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" th:name="password" tabindex="3"
						maxlength="25" /> <span th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"> The length must be between 8 and
						25 </span>
				</div>
			</div>

			<!-- 
				Confirm password field
			 -->
			<div class="control-group">
				<label class="control-label" for="confirmPassword">Confirm
					password</label>
				<div class="controls">
					<input type="password" th:name="confirmPassword" tabindex="4"
						maxlength="25" /> <span
						th:if="${#fields.hasErrors('confirmPassword')}"
						th:errors="*{confirmPassword}"> Passwords do not match </span> <span
						th:if="${#fields.hasErrors('global')}" th:errors="*{global}">
						Password and password confirmation does not match</span>
				</div>
			</div>

			<!-- The follow form-tags are only shown if it is the profile from an tutor -->
			<div sec:authorize="hasRole('ROLE_TUTOR')">
				<!--
		        	Biography field
		        	Placeholder loads the saved value on the server connected to the user's profile.
	        	-->
				<div class="control-group">
					<label class="control-label" for="biography">Biography</label>
					<div class="controls">
						<textarea rows="5" cols="50" tabindex="1" maxlength="255"
							th:value="*{biography}" th:field="*{biography}">
						</textarea>
						<span th:if="${#fields.hasErrors('biography')}"
							th:errors="*{biography}"></span>
					</div>
				</div>

				<!-- 
		        	Region field 
		        	Placeholder loads the saved value on the server connected to the user's profile
		        -->
				<div class="control-group">
					<label class="control-label" for="region">Region</label>

					<div class="controls">
						<input type="text" th:name="region" tabindex="6" maxlength="255"
							th:value="*{region}" /> <span
							th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></span>
					</div>
				</div>

				<!-- 
		        	Wage field 
		        	Placeholder loads the saved value on the server connected to the user's profile
		        -->
				<div class="control-group">
					<label class="control-label" for="wage">Wage in CHF</label>

					<div class="controls">
						<input type="number" th:name="wage" th:value="*{wage}" tabindex="1"
							min="0.00" max="200.00" step="0.05" value="5.0"/> <span th:if="${#fields.hasErrors('wage')}"
							th:errors="*{wage}"></span>
					</div>
				</div>
			</div>


			<div class="form-actions">

				<!-- 
					Button to save the changes, 
					loads again the uploadProfile page with the new information.
				-->
				<button type="submit" class="btn btn-primary">Save</button>

			</div>

			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />
		</fieldset>
	</form>


	<form id = "tutorSubjectBox" action="#" method="post" th:action="@{/editSubjects}"
		th:object="${updateSubjectsForm}" name="updateSubjectsForm">
		<!-- The follow form-tags are only shown if it is the profile from an tutor -->
		<div sec:authorize="hasRole('ROLE_TUTOR')">
			<!-- 
				Teaching Subjects 
			-->
			<h3>Teaching Subjects</h3>
			<table id="subjectTable">
				<thead>
					<tr>
						<th>Subject</th>
						<th>Grade</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row,rowStat : *{rows}">
						<!-- for each row in rows -->
						<td><input type="text"
							th:field="*{rows[__${rowStat.index}__].subject}" value="Subject name" required="required"/></td>
						<td><input type="number"
							th:field="*{rows[__${rowStat.index}__].grade}" min="1.0" max="6.0" step="0.5" value="5.0"/></td>
						<td>
							<button type="submit" name="remRow" th:value="${rowStat.index}">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>

			<button type="submit" name="addRow">Add subject</button>
			<button type="submit" name="save" class="btn btn-primary">Save</button>
			<span th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Subject can't be added twice</span>

		</div>
	</form>

	<div sec:authorize="hasRole('ROLE_TUTOR')">
		<button type="button"
			onclick="document.getElementById('timetableBox').style.display='block';document.getElementById('fade').style.display='block'">Update
			availability</button>
	</div>

	<!-- PopupBox -->
	<div id="timetableBox" class="white_content">
		<form action="#" method="post" th:action="@{/updateTimetable}"
			th:object="${updateTimetableForm}" name="updateTimetableForm">
			<!-- The follow form-tags are only shown if it is the profile from an tutor -->
			<div sec:authorize="hasRole('ROLE_TUTOR')">
				<!-- 
					Timetable
				-->
				<div class="Table">
					<div class="Title">
						<p>Timetable for availability</p>
					</div>
					<div class="Heading" id="timeTable">
						<div class="Row">
							<div class="Cell">Hour</div>
							<div class="Cell">MON</div>
							<div class="Cell">TUE</div>
							<div class="Cell">WED</div>
							<div class="Cell">THU</div>
							<div class="Cell">FRI</div>
							<div class="Cell">SAT</div>
							<div class="Cell">SUN</div>
						</div>
					</div>
					<div class="Body">
						<div class="Row" th:each="rows,rowStat : *{timetable}">
							<!-- for each hour in a day -->
							<div class="Cell"><span th:text="${rowStat.index} + ':00'">00:00</span></div>
							<div class="Cell" th:each="columns,colStat : ${rows}">
								<input type="checkbox" th:field="*{timetable[__${rowStat.index}__][__${colStat.index}__]}"/>
							</div>
						</div>
					</div>
				</div>
				<div class="Button">
					<button type="submit" name="save" class="btn btn-primary">Save</button>
					<button type="button"
						onclick="document.getElementById('timetableBox').style.display='none';document.getElementById('fade').style.display='none'">Close</button>
				</div>
			</div>
		</form>
	</div>
	<div id="fade" class="black_overlay" onclick="document.getElementById('timetableBox').style.display='none';document.getElementById('fade').style.display='none'"></div>

  </div>
</body>
</html>