nav {
	height: 85px;
	margin-right: 10%;
}

nav > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	
	height: 100%;
}

nav ul {
	list-style: none;
}

nav > ul > li {
	flex: 0 1 auto;
	margin: 0;
	padding: 0;
	
	position: relative;
}

nav > ul > li > a {
	color: #ccc;
	padding: 0 24px;
	
	border-left: solid thin lightgray;
	
	line-height: 56px;
	text-decoration: none;
}

nav > ul > li ul > li:hover a {
	background-color: darkgrey;
	color: white;	
}

.logout:hover {
	background-color: red;
}

nav > ul > li ul a {
	display: block;
	padding: 5px;
	padding-bottom: 6px;
	color: gray;
	text-decoration: none;
}

nav > ul > li > div {
	transition: height 0.3s;
	background-color: lightgray;
}

nav > ul > li a + div {
	position: absolute;
	right: 20px;
	
	height: 0;
	overflow: hidden;
	
	text-align: right;
	
	box-shadow: 0 3px 5px rgba(0,0,0,.5);
}

nav > ul > li a + div > ul > li {
	position: relative;
}

nav > ul > li:hover > div {
	height: 105px;
}

nav > ul > li > a > .caret {
	display: inline-block;
	align-self: center;
	margin-left: 4px;
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	height: 0;
	width: 0;
	vertical-align: middle;
  }