header > nav > ul {
	float: right;
	display: flex;
	flex-wrap: wrap;
	
	border-radius: 5px 5px 0 0;
	
	margin-top: 50px;
	margin-right: 9.5%;
}

nav ul {
	list-style: none;
	border-radius: 5px 5px 0 0;
	margin: 0;
	padding: 0;
}

nav li {
	border-radius: 5px 5px 0 0;
	text-align: center;
	width: 130px;
	
	line-height: 30px;
}

nav ul ul {
	width: 130px;
	
	position: absolute;
	z-index: 100;
	
	height: 0;
	overflow: hidden;
	
	transition: height .3s;
}

nav ul li ul {
	border-radius: 0 0 5px 5px;
}

nav ul ul a {
	background-color: lightgray;
	font-size: medium;
}

nav ul ul li:hover {
	text-decoration: underline;
}

nav li:hover ul {
	height: 60px;
}

nav li:FIRST-CHILD a {
	border-radius: 5px 0 0 0;
}

nav li:LAST-CHILD a {
	border-radius: 0 5px 0 0;
}

nav li ul li:FIRST-CHILD a {
	border-radius: unset;
	box-shadow: unset;
}

nav li ul li:LAST-CHILD a {
	border-radius: unset;
	box-shadow: unset;
}

nav a {
	display: block;
	text-decoration: none;
	background-color: #f0f0f0;
	color: black;
	text-align: center;
	font-size: medium;
	transition: .1s box-shadow;
}

nav a:hover {
	box-shadow: 5px 5px 5px gray inset;
}

a.active {
	background-color: #fff;
	color: #444;
}

a.logout {
	color: white;
	background-color: red;
}

nav li a.logout:hover {
	box-shadow: 5px 5px 5px darkred inset;
}