
body {
	background-color: #aaaaaa;
    margin: 40px;
    font-family: sans-serif;
}


#logo {
    align-self:center;
}
#login-box {
    align-self: center;
}


#logoutButton {
	position: absolute;
	top: 0px;
	right: 0px;
}

#homeButton {
	position: absolute;
	top: 0px;
	right: 60px;
}

#editButton {
	position: absolute;
	top: 0px;
	right: 120px;
}

#searchButton {
	position: absolute;
	top: 0px;
	right: 210px;
}


.Table {
	display: table;
}
.Title {
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.Heading {
	display: table-header-group;
	font-weight: bold;
	text-align: center;
}
.Body {
	display: table-row-group;
}
.Row {
	display: table-row;
}
.Cell {
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.Button {
	float: right;
	padding: 5px;
}

.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}
.white_content {
        display: none;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    width: 380px; /* adjust as per your needs */
	    height: 380px; /* adjust as per your needs */
	    margin-left: -190px; /* negative half of width above */
	    margin-top: -190px; /* negative half of height above */
	    padding: 13px;
	    background-color: white;
	    z-index: 1002;
	    overflow: auto;
