@import url("/css/menu.css");

@import url("/css/timetable.css");

@import url("/css/timeslots.css");

@import url("/css/pikaday.css");

@import url("/css/below800.css") ( max-width
	:
	800px);

@import url(https://fonts.googleapis.com/css?family=Cookie);

/* Resets Browser specific rules */
* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section {
	display: block;
}

html {
	font-size: 100%;
	height: auto !important;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.clear {
	display: block;
}

.clear::after {
	clear: both;
	content: ".";
	display: block;
	height: 1px;
	visibility: hidden;
}

html, body {
	display: table;
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	background-image: url("/img/bg/body.png");
	background-repeat: repeat;
}

header {
	display: table-row;
	height: 85px;
	background-color: gray;
}

footer {
	display: table-row;
	height: 40px;
	background-color: gray;
}

footer > div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: inherit;
	width: 100%;
}

footer > div > p {
	margin-right: 12%;
		
	font-size: 15px;	
	color: white;
}

#wrapper {
	display: table;
	width: 100%;
	height: 100%;
	color: black;
	margin: 0;
}

#sidebar {
	display: table-cell;
	width: 10%;
}

#content {
	display: inline-table;
	height: 100%;
	width: 100%;
	background-color: white;
	border-style: none solid none solid;
	border-color: #ddd;
}

#content-wrapper {
	display: table;
	height: 100%;
}

/* Login and Register */
#title-image {
	display: table-row;
	height: 200px;
	text-align: center;
	align-items: center;
}

img {
	vertical-align: middle;
}

#infoBox {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	padding-left: 40px;
	font-weight: normal;
}

fieldset {
	border: none;
	font-size: small;
}

#loginBox {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#registerBox {
	display: none;
	vertical-align: middle;
	text-align: center;
}

.leftSide {
	display: table-cell;
	width: 50%;
	padding-left: 10%;
}

.rightSide {
	display: table-cell;
	width: 50%;
	padding-left: 20px;
	padding-right: 40px;
}

.full {
	display: table-cell;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* messageOverview */

#messageNavigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: solid black 2px;
}

#messageNavigation ul li {
	display: inline;
}

#messageNavigation ul li a {
	text-decoration: none;
	color: black;
}

#messageList a {
	text-decoration: none;
	color: black;
}

#messageList > div {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid lightgray 1px;
}

#messageBox {
	margin: 5px;
	height: inherit;
}

#message {
	padding: 5px;
	border: solid lightgray 2px;
	height: inherit;
}

#answer {
	float: right;
}

#messageBox p {
	padding: 5px;
	border-top: solid lightgray 1px;
}

#unreadMessage {
	float: right;
}

#newMessage {
	float: none;
	margin: 5px;
	margin-left: 0;

}

.action-icon {
	width: 30px;
	height: 20px;
}

/*EditProfile*/
#availability {
	margin-top: 50px;
	margin-bottom: 10px;
}

#tutorSubjectBox {
	width: 375px;
}

#timetableBox {
	color: #000000;
}

#userAvatarBox {
	padding-top: 20px;
}

.headerLogo {
	font-family: 'Cookie', cursive;
	float: left;
	margin: 0;
	margin-left: 30px;
	font-size: 70px;
	color: white;
	text-decoration: none;
}

#Bio h3 {
	margin-bottom: 0;
}

#Bio p {
	margin-top: 0;
	display: inline-block;
	border: solid lightgray 3px;
	white-space: normal;
	padding: 5px;
}

#welcome {
	display: table;
	height: 100%;
}

#welcome>h1 {
	display: table-row;
}

#welcome>p {
	padding: 30px;
	padding-left: 0;
	display: table-cell;
}

#search>form {
	display: flex;
	padding-bottom: 3px;
	border-bottom: solid 2px lightgray;
}

#search input {
	font-size: large;
	padding-left: 5px;
	width: 300px;
	height: 30px;
}

#search button {
	
}

#results>div {
	display : inline-block;
	margin-top: 10px;
	margin-right: 20px;
	vertical-align: top;
	
	color: black;
	text-decoration: none;
}

.linkparent a>span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.linkparent {
	position: relative; 
}

#results .name {
	font-weight: bold;
}

#results .rating {
	position: relative;
	z-index: 2;
	font-size: small;
}

#results #subjects {
	position: relative;
	z-index: 2;
	font-size: medium;
	max-height: 80px;
	overflow-y: auto;
}

.error {
	display: inline-block;
	padding: 2px;
	background-color: #ff8080;
	border: solid 2px red;
	color: #800000;
	font-weight: normal;
	font-size: medium;
	overflow: visible;
}

#registerBox .error {
	display: inline-block;
	padding: 2px;
	background-color: #ff8080;
	border: solid 2px red;
	color: #800000;
	font-weight: normal;
	font-size: smaller;
	overflow: visible;
}

.breakable {
	-ms-word-break: break-all;
	word-break: break-word;
	overflow-wrap: break-word;
	word-wrap: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}