
body {
	background-color: #666666;
    margin: 40px;
    font-family: sans-serif;
}


#logo {
    align-self:center;
}
#login-box {
    
    text-align: center;
    align-content: center;
    
    position: absolute;
    width: 100%;
    top: 35%;
}
#login-box > div{
    margin: 20px;
    text-align: center;
    color: #ffffff;
    font: bold 20px helvetica;
}

#email {
    width: 200px;
    height: 25px;
    
    font-size: 20px;
    text-align: center;
    
    border-radius: 5px;

    margin: 5px;
}

#password {
    
    width: 200px;
    height: 25px;   
    
    font-size: 20px;
    text-align: center;
    
    border-radius: 5px;

    margin: 5px;
}

#loginButton {
    width: 100px;
    height: 28px;    
    
    background-color: white;
    border-radius: 5px;
    
    font-size: 18px;
    color: darkslategray;
    text-align: center;

    margin: 5px;
}

#registerButton {
    width: 100px;
    height: 28px;    
    
    font-size: 18px;
    color: darkslategray;
    
    background-color: #BBff55;
    border-radius: 5px;

    margin: 5px;
    align-self: center;
}


#registerBox {
    
    width: 700px;;
    margin: 20px;
    color: #ffffff;
    font: bold 20px helvetica;
    white-space: nowrap;
    overflow: hidden
    
}

.controls > input {
     width: 200px;
    height: 25px;   
    
    font-size: 20px;
    text-align: left;
    
    border-radius: 5px;

    margin: 5px;
}

.controls > select {
     width: 200px;
    height: 25px;   
    
    font-size: 20px;
    text-align: center;
    color: darkslategray;
    
    border-radius: 5px;

    margin: 5px;
}




#logoutButton {
	position: absolute;
	top: 0px;
	right: 0px;
}

#homeButton {
	position: absolute;
	top: 0px;
	right: 60px;
}

#editButton {
	position: absolute;
	top: 0px;
	right: 120px;
}

#searchButton {
	position: absolute;
	top: 0px;
	right: 210px;
}


.Table {
	display: table;
}
.Title {
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.Heading {
	display: table-header-group;
	font-weight: bold;
	text-align: center;
}
.Body {
	display: table-row-group;
}
.Row {
	display: table-row;
}
.Cell {
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.Button {
	float: right;
	padding: 5px;
}

.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}
.white_content {
        display: none;
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    width: 380px; /* adjust as per your needs */
	    height: 380px; /* adjust as per your needs */
	    margin-left: -190px; /* negative half of width above */
	    margin-top: -190px; /* negative half of height above */
	    padding: 13px;
	    background-color: white;
	    z-index: 1002;
	    overflow: auto;
